#body {
  color: white;
  text-shadow: 2px 2px black;
  }

  #weather {
    font-size: 100px;
  }

  #todo {
      position: fixed;
      bottom: 0;
      right: 0;
      margin-left: -100px;
      padding: 20px;
      border: 2px solid black;
      background: black;
  }

  #quote {
    max-width: 750px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
  }

  #author {
    display: none;
    color: white;
    text-shadow: black;
  }

  #quote-hover:hover ~ #author{
    display: block;
  }

 